<template lang='pug'>
div(
  :id='containerId2'
  :style='{ position: "relative",width: "100%",height: "100%",touchAction: "none",}'
)
  div(
    :id='subChartWrapper1'
    :style='{position: "absolute"}'
  )
  template(
    v-for='(item, i) in indicators'
    :key='item.containerId'
  )
    .divider(
      :id=`'dividerId' + (i + 1)`
    )
    indicator-chart(
      :container-id='item.containerId'
      @close='$emit("close", item.containerId)'
    )
  div(
    :id='mainChartWrapper2'
    :style='{minWidth: "100%",maxWidth: "100%",width: "100%",minHeight: "100%",maxHeight: "100%",height: "100%",}'
  )
</template>

<script setup lang='ts'>
import { SciChartSurface } from 'scichart'
import { containerId2, draw, mainChartWrapper2, subChartWrapper1 } from '@/core/sci'
import type { IndicatorData } from '@/interfaces/indicator'
import IndicatorChart from '@/components/Stock/IndicatorChart.vue'
import { simpleBinanceRestClient } from '@/api/binance/restClient'

interface Props {
  indicators: IndicatorData[]
}

const props = defineProps<Props>()

interface Emits {
  (e: 'close', id: string): void
}

defineEmits<Emits>()

const sciChartSurfaceRef = ref<SciChartSurface>()

onMounted(async () => {
  const endDate = new Date(Date.now())
  const startDate = new Date()
  startDate.setMinutes(endDate.getMinutes() - 18000)
  const priceBars = await simpleBinanceRestClient.getCandles('BTCUSDT', '1h', startDate, endDate)
  const chartInitializationPromise = draw(priceBars, props.indicators).then(({ sciChartSurface }) => {
    sciChartSurfaceRef.value = sciChartSurface
  })
  
  return () => {
    // check if chart is already initialized
    if (sciChartSurfaceRef.value) {
      sciChartSurfaceRef.value.delete()
      return
    }
    
    // else postpone deletion
    chartInitializationPromise.then(() => {
      sciChartSurfaceRef.value?.delete()
    })
  }
})

watch(() => props.indicators, () => {
  const chartInitializationPromise = draw(props.indicators).then(({ sciChartSurface }) => {
    sciChartSurfaceRef.value = sciChartSurface
  })
  
  return () => {
    // check if chart is already initialized
    if (sciChartSurfaceRef.value) {
      sciChartSurfaceRef.value.delete()
      return
    }
    
    // else postpone deletion
    chartInitializationPromise.then(() => {
      sciChartSurfaceRef.value?.delete()
    })
  }
})
</script>

<style scoped>
.divider {
  width: 100%;
  height: 2px;
  background-color: rgba(206, 206, 206, 0.15);
  cursor: row-resize;
  position: absolute;
  z-index: 1;
}
</style>