<template>
<div :style='{ display: "flex", flexDirection: "column", height: "100vh", width: "100%" }'>
  <div ref='divElementId1' :style='{ flexBasis: "70%", flexGrow: 1, flexShrink: 1 }' />
  <div ref='divElementId2' :style='{ flexBasis: "10%", flexGrow: 1, flexShrink: 1 }' />
  <div ref='divElementId3' :style='{ flexBasis: "10%", flexGrow: 1, flexShrink: 1 }' />
  <div ref='divOverviewId' :style='{ flexBasis: "10%", flexGrow: 1, flexShrink: 1 }' />
</div>
</template>

<script setup lang='ts'>
// import type { SciChartSurface } from 'scichart'
import { getChartsInitializationAPI } from '@/core/example'
// import type { IndicatorData } from '@/interfaces/indicator'
const divElementId1 = ref()
const divElementId2 = ref()
const divElementId3 = ref()
const divOverviewId = ref()
// const divElementId2 = "cc_chart_3_2";
// const divElementId3 = "cc_chart_3_3";
// const divOverviewId = "cc_overview";


interface Emits {
  (e: 'close', id: string): void
}

defineEmits<Emits>()

const sciChartSurfaceRef = ref<any>()

onMounted(async () => {
  const chartInitializationPromise = await getChartsInitializationAPI()
  await chartInitializationPromise.configureAfterInit()
  const { sciChartSurface } = await chartInitializationPromise.drawPriceChart(divElementId1.value)
  // await chartInitializationPromise.drawMacdChart(divElementId2.value)
  // await chartInitializationPromise.drawRsiChart(divElementId3.value)
  await chartInitializationPromise.drawOverview(sciChartSurface)
  
  return () => {
    // check if chart is already initialized
    if (sciChartSurfaceRef.value) {
      sciChartSurfaceRef.value.delete()
      return
    }
  }
})

// watch(() => props.indicators, () => {
//   const chartInitializationPromise = draw(props.indicators).then(({ sciChartSurface }) => {
//     sciChartSurfaceRef.value = sciChartSurface
//   })
//
//   return () => {
//     // check if chart is already initialized
//     if (sciChartSurfaceRef.value) {
//       sciChartSurfaceRef.value.delete()
//       return
//     }
//
//     // else postpone deletion
//     chartInitializationPromise.then(() => {
//       sciChartSurfaceRef.value?.delete()
//     })
//   }
// })
</script>
