<template lang='pug'>
.indicator(
  :id='containerId'
)
  .controls
    Button.button(
      icon="pi pi-times"
      text
      rounded
      aria-label="Close"
      @click='$emit("close")'
    )
    Button.button(
      icon="pi pi-cog"
      text
      rounded
      aria-label="Edit"
      @click='$emit("edit")'
    )
</template>

<script setup lang='ts'>
interface Props {
  containerId: string
}

defineProps<Props>()

interface Emits {
  (e: 'close'): void
  
  (e: 'edit'): void
}

defineEmits<Emits>()

function onClose() {
  console.log('close')
}

function onEdit() {
  console.log('edit')
}
</script>

<style lang='scss' scoped>
.controls {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  height: 1rem;
  width: 100px;
  left: 10px;
  z-index: 100;
  pointer-events: auto;
}

.button {
  color: rgb(220, 220, 220);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transform: scale(0.75);
  opacity: 0.5;
  transition: opacity ease-out .15s;
  
  &:hover {
    opacity: 1;
  }
}
</style>