<template lang='pug'>
client-only
  CanvasJSStockChart(:options="options" :style="styleOptions")
</template>

<script setup lang='ts'>
import { ema, macd, sma } from '@/utils/indicators'
import { StockService } from '@/api/services/StockService'

const btcData = ref([])
const dps1: any[] = [], dps2: any[] = [], dps3: any[] = []

btcData.value = StockService.getStocks()
btcData.value.forEach(data => {
  dps1.push({ x: new Date(data.date), y: [data.open, data.high, data.low, data.close] })
  dps2.push({ x: new Date(data.date), y: data.volume_usd })
  dps3.push({ x: new Date(data.date), y: data.close })
})

const options = ref({
  theme: 'light2',
  exportEnabled: false,
  charts: [
    {
      toolTip: {
        shared: true
      },
      axisX: {
        lineThickness: 5,
        tickLength: 0,
        labelFormatter: ''
      },
      axisY: {
        prefix: '$'
      },
      legend: {
        verticalAlign: 'top'
      },
      data: [
        {
          showInLegend: true,
          name: 'BTC',
          yValueFormatString: '$#,###.##',
          type: 'candlestick',
          fallingColor: '#DD7E86',
          risingColor: '#8bdd7e',
          color: '#272727',
          dataPoints: dps1
        },
        {
          type: 'line',
          name: 'EMA 12',
          showInLegend: true,
          yValueFormatString: '$#,###.##',
          color: 'rgba(11,30,229,0.5)',
          dataPoints: ema(dps1, 12)
        },
        {
          type: 'line',
          name: 'SMA 23',
          showInLegend: true,
          yValueFormatString: '$#,###.##',
          color: 'rgba(248,236,6,0.5)',
          dataPoints: sma(dps1, 23)
        },
      ]
    },
    {
      height: 100,
      toolTip: {
        shared: true
      },
      axisY: {
        labelFormatter: ''
      },
      legend: {
        verticalAlign: 'left'
      },
      data: [
        {
          type: 'line',
          name: 'Signal',
          showInLegend: true,
          color: 'rgba(248,236,6,0.5)',
          dataPoints: macd(dps1).ema9
        },
        {
          type: 'line',
          showInLegend: true,
          name: 'MACD',
          color: 'rgba(255,0,0,0.5)',
          dataPoints: macd(dps1).macd
        },
        {
          name: 'Hist',
          showInLegend: true,
          color: 'rgba(0,178,255,0.5)',
          dataPoints: macd(dps1).hist
        }
      ]
    },
    {
      height: 100,
      toolTip: {
        shared: true
      },
      axisY: {
        prefix: '$',
        labelFormatter: ''
      },
      legend: {
        verticalAlign: 'top'
      },
      data: [{
        showInLegend: true,
        name: 'Volume (BTC/USD)',
        yValueFormatString: '$#,###.##',
        color: '#047c21',
        dataPoints: dps2
      }]
    }
  ],
  navigator: {
    height: 20,
    data: [{
      dataPoints: dps3
    }],
    slider: {
      minimum: new Date(2018, 8, 1),
      maximum: new Date(2018, 12, 1)
    }
  }
})

const styleOptions = {
  width: '100%',
  height: '97vh'
}
</script>