<script setup lang='ts'>
import { binanceSocketClient } from '@/api/binance/socketClient'
import { simpleBinanceRestClient, type TPriceBar } from '@/api/binance/restClient'
import { createCandlestickChart } from '@/core/createChart'
import type { IDeletable } from 'scichart'

const divElementId = 'chart'
const divElementId1 = 'chart1'
const rsiElementId = 'rsiElementId'
const divOverviewId = 'overview'

const drawExample = async () => {
  // Create the candlestick chart example. Contains Candlestick series, tooltips, volume, zooming panning behaviour and more
  const { sciChartSurface, sciChartOverview, controls } = await createCandlestickChart(divElementId, divOverviewId, divElementId1)
  
  const endDate = new Date(Date.now())
  const startDate = new Date()
  startDate.setMinutes(endDate.getMinutes() - 18000)
  
  // Fetch data Binance exchange: 300 1-minute candles
  const priceBars = await simpleBinanceRestClient.getCandles('BTCUSDT', '1h', startDate, endDate)
  
  // Set the candles data on the chart
  controls.setData('BTC/USDT', 'Bitcoin / US Dollar - 1 Minute', priceBars)
  
  // Zoom to the latest 100 candles
  const startViewportRange = new Date()
  startViewportRange.setMinutes(endDate.getMinutes() - 6000)
  endDate.setMinutes(endDate.getMinutes() + 300)
  controls.setXRange(startViewportRange, endDate)
  
  // Susbscribe to price updates from the exchange
  const subscription = binanceSocketClient.getRealtimeCandleStream('BTCUSDT', '1m').subscribe((pb) => {
    const priceBar = {
      date: pb.openTime,
      open: pb.open,
      high: pb.high,
      low: pb.low,
      close: pb.close,
      volume: pb.volume
    }
    controls.onNewTrade(priceBar, pb.lastTradeSize, pb.lastTradeBuyOrSell)
  })
  
  return { sciChartSurface, sciChartOverview, subscription, controls }
}

const itemsToDeleteRef = ref<IDeletable[]>()
const websocketSubscriptionRef = ref<any>()
const preset = ref<number>(0)
const chartControlsRef = ref<{
  setData: (symbolName: string, watermarkText: string, priceBars: TPriceBar[]) => void;
  onNewTrade: (priceBar: TPriceBar, tradeSize: number, lastTradeBuyOrSell: boolean) => void;
  setXRange: (startDate: Date, endDate: Date) => void;
  enableCandlestick: () => void;
  enableOhlc: () => void;
}>()

onMounted(() => {
  const chartInitializationPromise = drawExample().then(
    ({ sciChartSurface, sciChartOverview, subscription, controls }) => {
      chartControlsRef.value = controls
      websocketSubscriptionRef.value = subscription
      itemsToDeleteRef.value = [sciChartSurface, sciChartOverview]
    }
  )
  
  return () => {
    // check if chart is already initialized
    if (itemsToDeleteRef.value) {
      itemsToDeleteRef.value.forEach((item) => item.delete())
      websocketSubscriptionRef.value.unsubscribe()
      return
    }
    
    // else postpone deletion
    chartInitializationPromise.then(() => {
      itemsToDeleteRef.value?.forEach((item) => item.delete())
      websocketSubscriptionRef.value.unsubscribe()
    })
  }
})

const handleToggleButtonChanged = (event: any, state: number) => {
  if (state === null || chartControlsRef.value === undefined) return
  preset.value = state
  console.log(`Toggling Candle/Ohlc state: ${state}`)
  if (state === 0) chartControlsRef.value.enableCandlestick()
  if (state === 1) chartControlsRef.value.enableOhlc()
}
</script>

<template>
<div :style='{ display: "flex", flexDirection: "column", height: "100vh", width: "100%" }'>
  <div :id='divElementId' :style='{ flexBasis: "80%", flexGrow: 1, flexShrink: 1 }' />
  <div :id='rsiElementId' :style='{ flexBasis: "10%", flexGrow: 1, flexShrink: 1 }' />
  <div :id='divOverviewId' :style='{ flexBasis: "10%", flexGrow: 1, flexShrink: 1 }' />
</div>
</template>

<style scoped>

</style>