<template lang='pug'>
CandleStickChart(:indicators="data" @close='onClose')
</template>

<script setup lang='ts'>
import CandleStickChart from '@/components/Stock/CandleStickChart.vue'
import type { IndicatorData } from '@/interfaces/indicator'

const indicatorsData = ref<IndicatorData[]>([
  {
    name: 'rsi',
    period: 7,
    containerId: 'rsi2',
    position: { x: 0, y: 0.5, width: 1, height: 0.2 }, drawLabels: false
  },
  {
    name: 'rsi',
    period: 12,
    containerId: 'rsi6',
    position: { x: 0, y: 0.7, width: 1, height: 0.15 },
    drawLabels: false
  },
  {
    name: 'rsi',
    period: 22,
    containerId: 'rsi8',
    position: { x: 0, y: 0.85, width: 1, height: 0.15 },
    drawLabels: false
  }
])

const data = computed<IndicatorData[]>(() => {
  const newArr: IndicatorData[] = []
  indicatorsData.value.map((item, index, arr) => {
    const obj = {
      ...item,
      drawLabels: index + 1 === arr.length,
      position: {
        x: 0,
        width: 1,
        y: index === 0 ? 0.5 : newArr[index - 1].position.y + newArr[index - 1].position.height,
        height: 0.5 / arr.length
      }
    }
    newArr.push(obj)
  })
  return newArr
})

function onClose(containerId: string) {
  indicatorsData.value = indicatorsData.value.filter(item => item.containerId !== containerId)
}
</script>
